@font-face{
  src: url("font.otf");
  font-family: "FrizQ";
}

@media screen and (min-width: 960px) {
  .ctr {
    max-width: 80vw;
  }
}

body, html {
  margin: 0;
  padding: 0;
  background: #1b1717;
  color: #ffffff;
}

a {
  font-family: "Arial";
  font-size: 11px;
}

a:link {
  color: #a58a57;
}

.ctr {
  display: block;
  margin: auto;
  margin-top: 40px;
}

h1, h2 {
  font-family: "FrizQ";
}

.gcraft-logo {
  display: block;
  margin: auto;
  max-width: 40vw;
  margin-bottom: 0;
}

.title {
	background: -webkit-linear-gradient(#eed323, #ff7300) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 20px;
}

.card {
  /* border: 1px solid #756500; */
  box-shadow: inset 0 0 4px rgb(255, 136, 0);
  background: #252020;
  border-radius: 4px;
}

.central-title {
  text-align: center;
  font-size: 50px;
  margin-top: 0;
}

.nav-bar {
  display: inline-block;
  min-width: 50px; height: 50px;
  margin: auto;
}

.nav-elem {
  float: left;
  display: block;
  text-align: center;
  height: 100%;
  width: 130px;
  border-right: 1px solid rgba(107, 83, 5, 0.428);
  vertical-align: middle;
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
  color: #a58a57;
  font-size: 17px;
}

.nav-elem:hover {
  box-shadow: inset 0 0 9px rgb(255, 223, 116);
  border-radius: 4px;
}

.nav-elem:active {
  box-shadow: inset 0 0 9px rgb(216, 47, 13);
  color: rgb(231, 77, 30);
  font-weight: 200;
  border-radius: 4px;
}

.nav-elem > p {
  /* position: relative;
  top: 16px; */
  text-transform: uppercase;
  letter-spacing: .2em;

  font-family: "FrizQ";
}

.nav-elem a:link {
  text-decoration: none;
}

.nav-elem a:visited {
  text-decoration: none;
}

.nav-elem:hover {
  text-decoration: none;
}

.nav-elem:active {
  text-decoration: none;
}

.nav-elem[data-active-page=true] {
  box-shadow: inset 0 0 9px rgb(216, 111, 13);
  border-radius: 4px;
}

.realmlist {
  margin: auto;
  margin-top: 15px;
  text-align: left;
  box-shadow: inset 0 0 1px rgb(255, 219, 179);
}

.realmtitle {
  font-family: "Arial";
  float: right;
  margin-top: 6px;
  font-size: 12px;
}

.realmlisting {
  text-align: none;
  padding: 5px;
}

.realmheader {
  display: inline-block;
}

.realmlisting > img {
  float: left;
}

.realmdescription {
  margin-top: 0;
  font-family: "FrizQ";
  font-weight: 1px;
  font-size: 11px;
  margin-left: 25px;
}

.accountInfoArea {
  display: block;
  box-shadow: inset 0 0 1px rgb(255, 219, 179);
  margin: auto;
  margin-top: 10px;
}

.accountInfoArea > * {
  margin: 10px;
}

.accountLoginStatus {
  font-family: "Arial";
  font-size: 11px;
  margin-top: 15px;
}

.accountLoginStatus.ok {
  position: relative;
  bottom: 15px;
}

.textInput {
  padding: 0;
  max-height: 14px;
  background: #252020;
  color: #a58a57;
}

/* .accountButton {
  box-shadow: inset 0 0 9px rgb(216, 111, 13);
  border-radius: 4px;
  height: 10px;
  width: 32px;
  vertical-align: middle;
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
  color: #a58a57;
  margin: 20px;
}

.accountButton > span {
  font-family: "FrizQ";
  font-weight: .1em;
}

.accountButton:hover {
  box-shadow: inset 0 0 9px rgb(255, 223, 116);
  border-radius: 4px;
}

.accountButton:active {
  box-shadow: inset 0 0 9px rgb(216, 47, 13);
  color: rgb(231, 77, 30);
  font-weight: 200;
  border-radius: 4px;
} */
